<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Construction-desktop/src/com/mygdx/main/desktop/DesktopLauncher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/Construction-desktop}"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.mygdx.main.desktop.DesktopLauncher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Construction-desktop"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:Construction-android/assets}"/>
</launchConfiguration>
